@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap");

body {
  margin: 0;
}

body,
html,
#root {
  height: 100%;
}

body,
html {
  background-color: #1a1a1a;
  font-family: "Inter";
  color: #fff;
}
